@use "../abstracts/colors" as c;
@use "../abstracts/responsive" as r;


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: c.$clr-primary;
}

body{

    position: relative;

    //Grey angled box in the background
    &::before{
        content: "";
        width: 100%;
        height: 60%;
        bottom: -3px;
        background-color: c.$clr-tertiary;
        position: absolute;
        z-index: -1;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        opacity: 30%;

        @include r.respond(tablet){
            clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
        }

        @include r.respond(desktop){
            display: none;
        }
    }
}

// html,
// body{
//         overflow-x: hidden;
//     }
    
// body{
    // overflow: hidden;
// }


// ENABLE AND CHANGE THE FOCUS COLORS DEPENDING ON YOUR DESIGN

// :focus{
//     outline: 3px solid rgb(132, 130, 255);
//     outline-offset: 3px;
// }


// ENABLE THIS OUTLINE FOR DEBUGGING PURPOSES, E.G. HORIZONTAL SCROLLING

// *{
//     outline: 2px solid red;
// }