@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;
@use "../abstracts/responsive" as r;
@use "../abstracts/typography" as f;

// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300:900&display=swap');

.hero {
    display: grid;
    place-items: center;
    // background: red;
    
    @include r.respond(desktop){
        display: block;
        width: 90%;
        // max-width: 1400px;
        margin-left: auto;
        // padding-left: clamp(7.25rem, 2vw + 2rem, 15.5rem);
        position: relative;
    }
    
    .mobile-hero-text{ //ZP

        // @include r.respond(tablet){
        //     margin-bottom: 5rem;
        // }

        @include r.respond(desktop){
            display: none;
        }

        font-size: 15rem;
        font-weight: f.$fw-black;
        line-height: 0.55;
        margin-top: 5rem;
        color: c.$clr-secondary;
        
        span{ //P
            color: c.$clr-tertiary;

        }
    }

    h1{ //zookypunk
        font-weight: f.$fw-black;
        font-size: f.$fs-extralarge;
        color: c.$clr-secondary;
        margin-bottom: 3rem;

        @include r.respond(tablet){
            margin-bottom: 3rem;
        }
        
        @include r.respond(desktop){
            filter: drop-shadow(0px 4px 4px rgb(0,0,0,0.15));
            font-size: clamp(1rem, 7.5vw, 7.5rem);
        }
    }

    //Group of boxes with Guitar and Art
    .art-selection{
        flex-direction: column;
        gap: 1.5em;
        margin-bottom: 3rem;

        @include r.respond(tablet){
            flex-direction: initial;
        }

        @include r.respond(desktop){
            flex-direction: initial;
            margin-bottom: initial;
        }
        
        a{
            text-decoration: none;
            color: c.$clr-neutral;
        }
        
        //Grey box with GUITAR and ART inside
        .art-item{ 
            width: 250px;
            aspect-ratio: 1;
            background-color: c.$clr-tertiary;
            place-items: center;
            
            &:hover p{
                font-size: 1.1rem;
                transition: font-size 150ms ease-in-out;
            }

            @include r.respond(desktop){
                // width: 230px;
                width: clamp(200px, 17.5vw, 230px);
                aspect-ratio: 1/1.5;
                margin-right: 2rem
                
            }

            p{ //GUITARS, ART
                text-transform: uppercase;
                font-weight: f.$fw-black;
                transition: font-size 250ms ease-in-out;
            }
        }
    }

    //Big letters ZP
    .letter-blocks{

        display: none;

        @include r.respond(desktop){

            position: absolute;
            bottom: -18.8rem;
            right: 0;
            display: flex;
    
            .z-block,
            .p-block{
                overflow: hidden;
                width: clamp(10rem, 20vw + 1rem, 17rem);
                font-size: 35rem;
                font-weight: f.$fw-black;
            }
            
            .z-block{
                background-color: c.$clr-secondary;
                height: 42.5rem;
                margin-top: 2.5rem;
    
                .letter-z{
                    color: white;
                    margin-left: 2rem;
                }
            }
    
            .p-block{
                background-color: c.$clr-tertiary;
    
                .letter-p{
                    padding-top: 2.5rem;
                    color: c.$clr-secondary;
                }
    
            }
        }
    }

}