@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;
@use "../abstracts/responsive" as r;
@use "../abstracts/typography" as f;

// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300:900&display=swap');

.hero {
    display: grid;
    place-items: center;
    
    @include r.respond(desktop){
        display: block;
        width: 80%;
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
    }
    
    .mobile-hero-text{ //ZP

        @include r.respond(desktop){
            display: none;
        }

        font-size: 15rem;
        font-weight: f.$fw-black;
        line-height: 0.55;
        margin-top: 3rem;
        color: c.$clr-secondary;
        
        span{ //P
            color: c.$clr-tertiary;

        }
    }

    h1{ //zookypunk
        font-weight: f.$fw-black;
        font-size: f.$fs-extralarge;
        color: c.$clr-secondary;
        margin-block: 5rem 3rem;
        
        @include r.respond(desktop){
            filter: drop-shadow(0px 4px 4px rgb(0,0,0,0.15));
            // font-size: 7.5rem;
            font-size: clamp(1rem, 7.5vw, 7.5rem);
        }
    }

    .art-selection{
        flex-direction: column;
        gap: 1em;
        margin-bottom: 3rem;

        @include r.respond(desktop){
            flex-direction: initial;
        }
        
        a{
            text-decoration: none;
            color: c.$clr-neutral;
        }

        .art-item{ //Grey box with GUITAR and ART inside
            width: 250px;
            aspect-ratio: 1;
            background-color: c.$clr-tertiary;
            place-items: center;
            
            @include r.respond(desktop){
                width: 200px;
                aspect-ratio: 1/1.5;
                margin-right: clamp(1rem, 2vw + 10.5rem, 10rem);
            }

            p{ //GUITARS, ART
                text-transform: uppercase;
                font-weight: f.$fw-black;
            }
        }
    }

    .letter-blocks{

        display: none;

        @include r.respond(desktop){

            position: absolute;
            bottom: -18.8rem;
            right: -7rem;
            display: flex;
    
            .z-block,
            .p-block{
                overflow: hidden;
                width: 17rem;
                font-size: 35rem;
                font-weight: f.$fw-black;
            }
            
            .z-block{
                background-color: c.$clr-secondary;
                height: 42.5rem;
                margin-top: 2.5rem;
    
                .letter-z{
                    color: white;
                    margin-left: 2rem;
                }
            }
    
            .p-block{
                background-color: c.$clr-tertiary;
    
                .letter-p{
                    padding-top: 2.5rem;
                    color: c.$clr-secondary;
                }
    
            }
        }
    }

}