//THIS SECTION IS WHERE YOU WOULD ASSIGN THE CUSTOM FONT VARIABLE (IN "BASE/TYPOGRAPHY.SCSS") TO ELEMENTS OR CLASSES

//Below is an example

// *{
//     font-family: $ff-main;
// }

//FONT WEIGHT
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extrabold: 800;

//FONT SIZE
$fs-extralarge: 3.5rem;
$fs-large: 2.4rem;
$fs-medium: 1.75em;
$fs-small: 0.9em;
$fs-extrasmall: 0.8em;